body {
    background-color: white; 
}

#miconbutton {
    background-color: lightgreen;
    border: solid lightseagreen 3px;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 25;
    width: 130px;
    height: 50px;
    position: relative;
    bottom: 120px;

}

#micoffbutton {
    background-color: lightskyblue;
    border: solid cornflowerblue 3px;
    border-radius: 3px;
    font-family: sans-serif;
    font-size: 25;
    width: 100px;
    height: 50px;
    position: relative;
    bottom: 120px;

}

#nautilus {
    position: relative;
    height: 300px;
    width: 370px;
}

#adaname {
    font-family: sans-serif;
    font-size: 30;
    color: cornflowerblue;
    position: relative;
    margin-bottom: 10px;
    bottom: 80px;
}

#introtext {
    font-family: sans-serif;
    color: cornflowerblue;
    position: relative;
    margin-bottom: 10px;
    bottom: 80px;
}

#micicon {
    position: relative;
    height: 60px;
    width: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
    bottom: 80px;
}

#micstatus {
    position: relative;
    font-family: sans-serif;
    color: crimson;
    bottom: 20px;
}

#tinyabout {
    position: relative;
    color: darkslateblue;
    font-size: 12;

}









